@charset "utf-8";

body {
    background-color: #272822;
    width: 96%;
    height: 96vh;
    padding: 2%;
    color: #518f94;
    font-size: 18px;
}

.white {
    color: white;
}

.red {
    color: rgb(249, 38, 114);
}

.green {
    color: #86dc2a;
}

.yellow {
    color: rgb(230, 219, 116)
}