@charset "UTF-8";

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.wrapper {
    width: 94%;
    padding: 0 3% 0 3%;
}

.wrapper .header-block,
.wrapper .form-block,
.wrapper .map-block,
.wrapper .forecast-block {
    width: 94%;
    padding: 3%;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba(21, 0, 0, 0.5);
}

.wrapper .forecast-block .title,
.wrapper .form-block .title,
.wrapper .map-block .title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper .form-block .title {
    padding-top: 30px;
}

.wrapper .header-block .title,
.wrapper .forecast-block .title,
.wrapper .form-block .title,
.wrapper .map-block .title {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

.wrapper .form-block {
    width: 100%;
    padding: 0;
}

.wrapper .form-block .form-field {
    display: inline-block;
    width: 41%;
    padding: 4%;
    color: #999999;
}

.wrapper .form-block .form-field .label-block {
    display: inline-block;
    width: 20%;
    padding: 3%;
    text-align: left;
    float: left;
    font-size: 24px;
}
/*.wrapper .form-block .form-field .label-block,*/
.wrapper .form-block .form-field .input-block {
    display: inline-block;
    width: 68%;
    padding: 3%;
    text-align: left;
}

.wrapper .form-block .form-field .label-block label,
.wrapper .form-block .form-field .input-block .input {
    display: inherit;
    width: 92%;
    padding: 4%;
    outline: none;
}

.wrapper .form-block .form-field .input-block .input {
    font-size: 16px;
    padding: 3%;
}

.wrapper .form-block .form-field .input-block .input:focus {
    box-shadow: 0 0 7px rgba(21, 0, 0, 0.5);
    transition: .3s;
}

.wrapper .forecast-block .forecast-menu {
    list-style-type: none;
    display: inline-block;
    width: 90%;
    margin-left: 0;
}

.wrapper .forecast-block .forecast-menu .forecast-menu-item {
    display: inline-block;
    width: 43%;
    padding: 3%;
    color: #999999;
    font-size: 18px;
    font-weight: bold;
}

.wrapper .forecast-block .forecast-menu .forecast-menu-item:hover {
    transition: .3s;
    background-color: #7d7c7c;
    color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.wrapper .forecast-block .forecast-menu .active {
    transition: .3s;
    background-color: #7d7c7c;
    color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-active {
    display: block;
}

.item-non-active {
    display: none;
}



